
html {
  font-family: 'Courier New', monospace;
  font-size: 100%;
}

[class*="col-"] {
  width: 100%;
  }
@media only screen and (min-width: 768px) {
  [class*="col-"] {
      float: left;
      padding: 20px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.header{
  background-color: black;
  color: white;
  font-size: 200%;
}
@media only screen and (max-width: 768px) {
  .header{
    background-color: grey;
    color: black;
    font-size: 120%;
    }
}

.header {
  background-image: url('../images/maastricht_01.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 4%;
  padding-bottom: 4%;
  }

.footer {
  background-color: #92CD00;
  color: black;
}
@media only screen and (max-width: 768px) {
  .footer{
    background-color: #2C6700;
    color: white;
    }
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
font-size: 90%;
}

.menu li {
padding: 8px;
margin-bottom: 7px;
background-color: #FFCF79;
color: black;
}

.article {
  margin: 0;
  padding: 0;
}

.article{
  background-color: #E5E4D7;
}
@media only screen and (max-width: 768px)
{ .article {
  color: #990000;
  }
}

.img {
  width:22% ;
  height:22%;
  float: right;
}
